
  

  body {
    background-color: cyan;
    color: rgb(223, 72, 7);
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ff7300;
  }